@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-image: url(images/background.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 20px;
    align-items: baseline;
    background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Metal Mania", system-ui;
    color: #ffffff;
}

p {
    font-family: "RocknRoll One", system-ui;
}

.Logo {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: #ff0000;
}

.login ul {
    display: flex;
    justify-content: right;
    align-content: center;
    list-style-type: none;
    padding: 0;
}

.login ul li {
    display: inline;
    justify-content: center;
}

.login ul li a,
.menu ul li a {
    text-decoration: none;
    font-family: "Metal Mania", system-ui;
    font-size: 1.2rem;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

.login ul li a:hover,
.menu ul li a:hover {
    background-color: #ff0000;
    border-radius: 10px;
}

.login ul li a.active,
.menu ul li a.active {
    background-color: #ff0000;
    color: #fff;
    border-radius: 10px;
}

main {
    padding: 20px;
    background-color: #555;
    min-height: 86vh;
}

.title {
    font-size: 1.7rem;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    background-color: #666;
    border-radius: 10px;
    margin-top: 20px;
}

.sec-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 40px 20px;
    margin-top: 40px;
    background-color: #666;
}

.unique-form {
    max-width: 360px;
    width: 100%;
    height: auto;
    font-family: "Metal Mania", system-ui;
    font-size: 1.2rem;
    padding: 20px;
    text-transform: uppercase;
    background-color: #000000;
    border-radius: 10px;
}

.unique-form,
#form-cadastrar {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    background-color: #000;
    padding: 20px;
    border-radius: 10px;
}

form input,
form button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.forms {
    display: flex;
    justify-content: center;
}

#forms2 {
    width: auto;
    height: auto;
    text-align: center;
    font-family: "Metal Mania", system-ui;
    font-size: 1.2rem;
    padding: 20px;
    text-transform: uppercase;
}

.showForms {
    display: none;
}

/* FORMULÁRIO SECUNDÁRIO VISÍVEL DINAMICAMENTE */
.showForms.active {
    display: block;
}

/* CAMPOS DE INPUT E BOTÕES PADRONIZADOS */
input[type="text"],
input[type="password"] {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    font-family: 'RocknRoll One', sans-serif;
    color: #000;
}

#cadastro {
    display: flex;
    border-radius: 5px;
    padding: 5px;
    justify-content: left;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* BOTÕES GERAIS */
button,
#cadastro {
    width: auto;
    height: 35px;
    background-color: #000000;
    color: white;
    border: none;
    font-size: 1rem;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}

button:hover,
#cadastro:hover {
    background-color: #ff0000;
    border-radius: 10px;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
    padding: 5px;
}

.forms input,
.forms button {
    border-radius: 5px;
    padding: 3%;
}

footer {
    text-align: center;
    font-size: 0.7rem;
    padding: 10px;
    background-color: #1b1b1b;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    .login ul li {
        display: block;
        margin-bottom: 10px;
    }

    .login ul li a {
        padding: 15px;
    }

    nav {
        padding: 20px 0;
    }

    .menu ul li {
        display: block;
        margin-bottom: 10px;
    }

    .menu ul li a {
        padding: 15px;
    }

    .Logo {
        font-size: 2rem;
    }

    main {
        padding: 15px;
    }

    .title {
        font-size: 1.2rem;
    }
}