    body {
        font-family: Arial, sans-serif;
        background-color: #000000fc;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100vh;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: top;
        height: 100vh;

    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Metal Mania', cursive;
        color: #ffffffd6;
    }

    p {
        color: #000000;
        line-height: 1.5;
    }

    li {
        font-family: 'Metal Mania', cursive;
        color: #ffffff;
        margin-top: 0px;
    }

    #Logo {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: rgb(255, 0, 0);
        font-weight: bold;
        border-color: #00a2fffc;
    }

    a {
        font-family: 'Metal Mania', cursive;
        color: rgb(255, 255, 255);
        text-decoration: underline;
    }

    .texto {
        font-family: Arial, sans-serif;
        color: rgb(255, 0, 0);
    }